<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
    <link href="css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="css/styles.css" type="text/css" rel="stylesheet"/>
    <script src="js/rem.js"></script>
</head>
<body class="MerryBody">
    <div class="btnMerry">
        <span class="left" onclick="actRules()">活动规则</span>
        <span class="right" onclick="actPrize()">我的奖品</span>
    </div>
    <div class="MerryDady">
        <div class="giftMerryDiv">
          <div id="hand"><img src="images/gift.png"></div>
          <div id="hand3"><img src="images/gift.png"></div>
          <div id="hand2"><img src="images/gift.png"></div>
       </div>
    </div>
 <div class="backWhit"></div>
<div class="footerMerry"><img src="images/footer.jpg"></div>
<!--活动规则 弹窗-->
    <div id="popRules">
    	<div class="popDivRluseImg">
    		<div class="btnClose" onclick="closeXX()"><img src="images/close.png"></div>
    		<div class="rulesDiv">
    			<h2>活动规则</h2>
    			<div class="rulesFont">
    				<p>计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红</p>
    			</div>
    			<div class="rulesFontSpan">
    			<span class="left" onclick="closeXX()">返回</span>
    			<span class="right" onclick="actPrize()">我的奖品</span>
    		    </div>
    		</div>
    	</div>	
    </div>

<!--我的奖品 弹窗-->
    <div id="popPrize">
    	<div class="popDivPrizeImg">
    		<div class="btnClosePrize" onclick="closePrizeXX()"><img src="images/close.png"></div>
    		<div class="prizeDiv">
    			<div class="prizeFont">
    			 计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红计算机圣诞节时记得发货及时答复就是的房价快速的回复就是东方红
    			</div>
    			<div class="rulesFontSpan">
    			<span class="left">告诉朋友</span>
    			<span class="right">查询流量</span>
    		    </div>
    		</div>
    	</div>	
    </div>

<!--开箱 弹窗-->
    <div id="popResult">
    	<div class="popDivResImg"><img src="images/result.png"></div>	
    </div>

<!--1GB 弹窗-->
    <div id="pop01">
    	<div class="popDivBgImg"></div>
    	<span>收下咯，去查查流量吧</span>
    </div>

<!--2GB 弹窗-->
    <div id="pop02">
    	<div class="popDivBgImg02"></div>
    	<span>收下咯，去查查流量吧</span>
    </div>

<!--3GB 弹窗-->
    <div id="pop03">
    	<div class="popDivBgImg03"></div>
    	<span>收下咯，去查查流量吧</span>
    </div>

<!--4GB 弹窗-->
    <div id="pop04">
    	<div class="popDivBgImg04"></div>
    	<span>收下咯，去查查流量吧</span>
    </div>
<!--5GB 弹窗-->
    <div id="pop05">
    	<div class="popDivBgImg05"></div>
    	<span>收下咯，去查查流量吧</span>
    </div>
<!--8GB 弹窗-->
    <div id="pop08">
    	<div class="popDivBgImg08"></div>
    	<span>收下咯，去查查流量吧</span>
    </div> 
<!--10GB 弹窗-->
    <div id="pop10">
    	<div class="popDivBgImg10"></div>
    	<span>收下咯，去查查流量吧</span>
    </div>              
</body>
<script type="text/javascript">
	var resDiv = document.getElementById("popResult");
	(function(){ 
		var demo = document.getElementById("hand"); 
		demo.onclick=function(){ 
			
		  resDiv.style.display="block";
          setTimeout("close()", 2000);
		} 
	})();

	function close(){
		   resDiv.style.display="none";
			var handDiv = document.getElementById("pop01"); 
			handDiv.style.display="block";
	}

	function closeXX(){

		var closeBtnDiv = document.getElementById("popRules");
		closeBtnDiv.style.display="none";
		
	}

	function closePrizeXX(){
		var closeBtnPrize = document.getElementById("popPrize");
		closeBtnPrize.style.display="none";
	}

	function actRules(){

		var openBtnDiv = document.getElementById("popRules");
		openBtnDiv.style.display="block";
		
	}

	function actPrize(){
        var openBtnDiv = document.getElementById("popRules");
        openBtnDiv.style.display="none";
		var openBtnPrize = document.getElementById("popPrize");
		openBtnPrize.style.display="block";
		
	}

</script>
</html>