.MerryBody{
  background: url("../images/back.png") no-repeat center;
  width:100%;
  height: 100%;
  background-size: cover;
  position: relative;
}
.MerryDady{
  width: 100%;
height: calc(100% - 1.1rem);
position: fixed;
z-index: 0;
background-image: url(../images/background.png);
background-repeat: no-repeat;
background-position: 0px 0px;
background-size: 100% 100%;

}
.MerryZMD{
	
   width: 68%;
  margin:0 auto; 
  position: relative;
  top:40%;
  height: 1.5rem;
  z-index: 9;
  overflow: hidden;
  font-size: .3rem;
}
.MerryZMD p{
  font-size: .3rem;
  padding: .1rem .15rem;
}
.headerMerry{
  background: url("../images/top.jpg") no-repeat center;
  background-size: cover;
  height: .97rem;
}
.btnMerry{
  width: 90%;
  margin:0 auto;
  height: .97rem;
  position: relative;
  z-index: 2;
}
.btnMerry span{
  width: 1.84rem;
  height: .56rem;
  background: #03a4f1;
  color:#fff;
  font-size: .36rem;
  text-align: center;
  border-radius: 5px;
  margin-top: .2rem;
}
.giftMerryTop{
  background: url("../images/middel.jpg") no-repeat center;
  background-size: cover;
  height: 4.45rem;
}
.giftMerryMid{
  background: url("../images/mid_One.jpg") no-repeat center;
  background-size: cover;
  height: 2.31rem;
}
.giftMerry{
  background: url("../images/gift.jpg") no-repeat center;
  background-size: cover;
  height: 1.91rem;  
}
.giftMerryDiv{
  width: 80%;
  margin:0 auto; 
  display: flex;
  position: relative;
  top:44%;
}
.giftMerryDiv div{
  flex:1;
  text-align:center;
}
.giftMerryDiv div img{
  width:1.61rem;
  height:1.5rem;
}
#hand{ 
  -webkit-animation:swinging 2s ease-in-out 0s infinite; 
  -moz-animation:swinging 2s ease-in-out 0s infinite; 
  animation:swinging 2s ease-in-out 0s infinite; 
  -webkit-transform-origin: 50% 100%; 
  -moz-transform-origin: 50% 100%; 
  transform-origin: 50% 100%; 
}
@-webkit-keyframes swinging{ 
    0% { -webkit-transform: rotate(10deg); } 
    50% { -webkit-transform: rotate(-10deg); } 
    100% { -webkit-transform: rotate(10deg); }
}
#hand2{ 
  -webkit-animation:swingi 2s ease-in-out 0s infinite; 
  -moz-animation:swingi 2s ease-in-out 0s infinite; 
  animation:swingi 2s ease-in-out 0s infinite; 
  -webkit-transform-origin: 50% 100%; 
  -moz-transform-origin: 50% 100%; 
  transform-origin: 50% 100%; 
}
@-webkit-keyframes swingi{ 
    0% { -webkit-transform: rotate(10deg); } 
    50% { -webkit-transform: rotate(-10deg); } 
    100% { -webkit-transform: rotate(10deg); }
}
#hand3{ 
  -webkit-animation:swing 2s ease-in-out 0s infinite; 
  -moz-animation:swing 2s ease-in-out 0s infinite; 
  animation:swing 2s ease-in-out 0s infinite; 
  -webkit-transform-origin: 50% 100%; 
  -moz-transform-origin: 50% 100%; 
  transform-origin: 50% 100%; 
}
@-webkit-keyframes swing{ 
    0% { -webkit-transform: rotate(-10deg); } 
    50% { -webkit-transform: rotate(10deg); } 
    100% { -webkit-transform: rotate(-10deg); }
}
.giftMerryFot{
  background: url("../images/foot.jpg") no-repeat center;
  background-size: cover;
  height: 2.64rem; 
}

.swiper-slide img{
  width: 100%;
  height: 1.1rem;
  }



 

#popNone,#pop01,#pop02,#pop03,#pop04,#pop05,#pop08,#pop10,#popResult,#popRules,#popPrize,#tellaFriends{
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../images/bg.png") repeat;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99;
}
#tellaFriends img{
  width: 3.77rem;
  height: 1.06rem;
  position: absolute;
  right: .2rem;
  top:.5rem;
}

.popDivResImg01{
  position: absolute;
  top:50%;
  left: 17px;
  display: block
}
.popDivResImg02{
  position: absolute;
  top:50%;
  left: 118px;
   display: none
}
.popDivResImg03{
  position: absolute;
  top:50%;
  left: 217px;
   display: none
}
.popDivRluseImg{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url("../images/rules.png") no-repeat;
  background-size: cover;
  width: 6.22rem;
  height:11.53rem;
}
.popDivPrizeImg{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url("../images/prize.png") no-repeat;
  background-size: cover;
  width: 6.34rem;
  height:9.87rem;
}
.rulesDiv{
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100%;
  height: 80%
}
.prizeDiv{
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100%;
  height: 5.4rem;
}
.popRules{
  position: absolute;
  right:0;
  top:0;
}
.btnClose,.btnClosePrize{
  position: absolute;
  right: 0
}
.btnClose img,.btnClosePrize img{
  width: .32rem;
  height: .34rem;
}
.rulesDiv h2{
  font-size: .53rem;
  text-align: center;
  margin-top: .4rem
}
.rulesFont{

   font-size: .28rem;
   width:80%;
   margin:.2rem auto;
    max-height: 6.45rem;
    overflow: auto
}
.prizeFont{

   font-size: .28rem;
   width:80%;
   margin:.2rem auto;
    max-height: 5.2rem;
    overflow: auto;
    height: 5.2rem;
}
.rulesFontSpan {
  
   font-size: .43rem;
 width:80%;
   margin:0 auto;
}
.rulesFontSpan span{
   text-align: center;
  display: inline-block;
  border-radius: 10px;
   background: #fcfc9d;
  width:2.18rem;

   box-shadow:  0px 3px 0px 0px rgba(0,0,0,0.3);
}
.rulesFont h2{
  color:red;
  font-size: .3rem;
  text-align: left;
}
.rulesFont p{
  color:#000;
  font-size: .3rem;
  text-align: left;
}
.rulesFont table,.winPrize table{
  width: 100%;
  margin-top:.1rem;
}
.rulesFont table th{
  background: orange;
  color:#fff;
  padding: 5px 0px;
}
.winPrize table th{
  background: red;
  color:#fff;
  padding: 5px 0px;
}
.rulesFont table tr,.winPrize table tr{
 
  color:#000;
  text-align: center;
}
.winPrize table tr{
  background: #fff;
}
.rulesFont table tr:nth-of-type(odd){
   background: pink;
}
.rulesFont table tr:nth-of-type(even){
   background: #fff;
}
.rulesFont table td,.winPrize table td{
  padding: 5px 0px
}
.overPrize{
  color:#000;
  font-size: .43rem;
  margin-top:.4rem;
}
.overPrize span{
  display: block;
  text-align: center;
}
.ewmContent{
   background: url("../images/ewm.jpg") no-repeat center;
   width: 100%;
  height: 100%;
  background-size: cover;
}
.popDivResImg img{
  width:2.79rem;
  height: 2.73rem
}
.popDivBgImgNone{
   height: 3.34rem;
  width: 5.88rem;
  margin: 0 auto;
  position: relative;
  top:50%;
  margin-top:-1.67rem;
}

.popDivBgImgNone img{
  display: block;
   width: 5.88rem;
}

.popDivBgImgNone div{
  color:#fff;
  font-size: .5rem;
  text-align: center;
  justify-content: center;
   height: 1.3rem;
  background-size: contain;
  width: 5.86rem;
  position: absolute;
  top:50%;
  margin-top:-.65rem;
  padding-left:.4rem;
}

.popDivBgImg{
  background: url("../images/gb1.png") no-repeat center;
  height: 8.73rem;
  background-size: cover;
 margin-top: 50px;
}
.popDivBgImg02{
  background: url("../images/gb2.png") no-repeat center;
  height: 8.73rem;
  background-size: cover;
 margin-top: 50px;
}
.popDivBgImg03{
  background: url("../images/gb3.png") no-repeat center;
  height: 8.73rem;
  background-size: cover;
 margin-top: 50px;
}
.popDivBgImg04{
  background: url("../images/gb4.png") no-repeat center;
  height: 8.73rem;
  background-size: cover;
 margin-top: 50px;
}
.popDivBgImg05{
  background: url("../images/gb5.png") no-repeat center;
  height: 8.73rem;
  background-size: cover;
 margin-top: 50px;
}
.popDivBgImg08{
  background: url("../images/gb8.png") no-repeat center;
  height: 8.73rem;
  background-size: cover;
 margin-top: 50px;
}
.popDivBgImg10{
  background: url("../images/gb10.png") no-repeat center;
  height: 8.73rem;
  background-size: cover;
 margin-top: 50px;
}
#pop01 span,#pop02 span,#pop03 span,#pop04 span,#pop05 span,#pop08 span,#pop10 span{
  color:#fff;
  font-size: .44rem;
  background-color: #e60012;
  border-radius: 5px;
  padding:5px 10px;
  margin:10px auto;
  display: block;
  width:60%;
  text-align: center;
}

@media only screen and (min-device-width:412px){
  .MerryZMD{
    top:39%;
  }

  
}
@media screen and (min-width:600px) and (min-height:960px){
  .giftMerryDiv{
    top:41%;
  }
.popDivResImg01{
    left:20px;
  }
  .popDivResImg02{
    left:190px;
  }
  .popDivResImg03{
    left:355px;
  }
  
}
@media only screen and (min-device-height:811px){
  .giftMerryDiv{
    top:48%;
  }
  .popDivResImg01,.popDivResImg02,.popDivResImg03{
    top:53%;
  }

  
}
.hengping {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../images/bg.png") repeat;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  text-align:center;
  display:none;
}